@import url(reset.css);
@import url(variables.css);

body {
  background-color: var(--primary-color);
  color: var(--contrast-dark-color);
  font-family: var(--font-family);
}

.container {
  padding-right: 1rem;
  padding-left: 1rem;
}

.menu,
.title,
.about{
  position: relative;
}

.menu{
  z-index: 1;
}

.title{
  z-index: 0;
}
.about{
  z-index: -1;
}



/* -------MEDIA QUERIES---------- */




@media (min-width: 768px) {
  .container {
    padding-right: 2.5rem;
    padding-left: 2.5rem;
  }
}

@media (min-width: 1200px) {
  .container {
    padding-left: calc((100vw - 1100px) / 2);
    padding-right: calc((100vw - 1100px) / 2);
  }
}