.formcontato {
    background-color: var(--secundary-color);
    height: auto;
    padding: 5rem 0 3rem 0;
}

.formcontato__contacto {
    display: flex;
    flex-direction: row;
}


.formcontato__text {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}

.formcontato__title {
    font-size: var(--font-size-componentsTitles);
    font-weight: var(--font-weight-medium);
    margin-bottom: 1rem;
}

.formcontato__subtext {
    font-size: var(--font-size-courseSubtitle);
    line-height: 1.5;
    margin-bottom: 2rem;
}

.formcontato__form {
    display: flex;
    flex-direction: column;
}

.formcontato__input {
    background-color: var(--contrast-light-color);
    margin-bottom: 2rem;
    height: 56px;
    border-bottom: 2px solid var(--contrast-gray-color);
    outline: 0;
    width: 100%;
}

.formcontato__textarea {
    margin-bottom: 2rem;
    border-bottom: 2px solid var(--contrast-gray-color);
    outline: 0;
    width: 100%;
}

.formcontato__input::placeholder {
    padding-left: 0.5rem;
    color: var(--contrast-gray-color);
    font-size: var(--font-size-courseSubtitle);
}

.formcontato__textarea::placeholder {
    padding-top: 1rem;
    padding-left: 0.5rem;
    color: var(--contrast-gray-color);
    font-size: var(--font-size-courseSubtitle);
}

.formcontato__botao {
    font-size: var(--font-size-courseSubtitle);
    background-color: var(--button-color);
    border: none;
    color: var(--contrast-light-color);
    width: 116px;
    height: 51px;
}

.input-message-error {
    display: none;
}

.input-container--invalid .input-message-error {
    color: var(--warning-color);
    display: block;
    margin-top: -1.5rem;
    padding-left: 0.5rem;
    margin-bottom: 2rem;
}


/* -------MEDIA QUERIES---------- */


@media (max-width: 768px) {
    .formcontato__img {
        display: none;
    }

    .formcontato {
        padding: 3rem 0;
    }

    .formcontato__text {
        width: 100%;
        margin: 0;
    }
}


/* ANIMACIONES */
.formcontato__botao,
.formcontato__tick {
    display: flex;
    justify-content: center;
    align-items: center;
}

.formcontato__botao {
    width: 116px;
    height: 51px;
    background: var(--button-color);
    transition: all .3s cubic-bezier(0.67, 0.17, 0.40, 0.83);
}

.formcontato__botao svg {
    transform: rotate(180deg);
    transition: all .5s;
}

.formcontato__botao__circle {
    width: 100px;
    height: 55px;
    background: mediumseagreen;
    border-radius: 50%;
    transform: rotate(-180deg);
}

.formcontato__botao:hover {
    cursor: pointer;
}

.formcontato__tick {
    color: var(--contrast-light-color);
    font-size: var(--font-size-courseSubtitle);
    transition: all .9s;
}

