.formcontacto {
    background-color: var(--secundary-color);
    height: auto;
    padding: 5rem 0 3rem 0;
}

.formcontacto__contacto {
    display: flex;
    flex-direction: row;
}


.formcontacto__text {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}

.formcontacto__title {
    font-size: var(--font-size-componentsTitles);
    font-weight: var(--font-weight-medium);
    margin-bottom: 1rem;
}

.formcontacto__subtext {
    font-size: var(--font-size-courseSubtitle);
    line-height: 1.5;
    margin-bottom: 2rem;
}

.formcontacto__form {
    display: flex;
    flex-direction: column;
}

.formcontacto__input {
    background-color: var(--contrast-light-color);
    margin-bottom: 2rem;
    height: 56px;
    border-bottom: 2px solid var(--contrast-gray-color);
    outline: none;
    width: 100%;
    padding-left: 1rem;
}

.formcontacto__textarea {
    margin-bottom: 2rem;
    border-bottom: 2px solid var(--contrast-gray-color);
    outline: none;
    width: 100%;
    padding-top: 1rem;
    padding-left: 1rem;
}

.formcontacto__input::placeholder {
    color: var(--contrast-gray-color);
    font-size: var(--font-size-courseSubtitle);
}

.formcontacto__textarea::placeholder {
    color: var(--contrast-gray-color);
    font-size: var(--font-size-courseSubtitle);
}

.formcontacto__boton {
    font-size: var(--font-size-courseSubtitle);
    background-color: var(--button-color);
    border: none;
    color: var(--contrast-light-color);
    width: 116px;
    height: 51px;
}

.input-message-error {
    display: none;
}

.input-container--invalid .input-message-error {
    color: var(--warning-color);
    display: block;
    margin-top: -1.5rem;
    padding-left: 0.5rem;
    margin-bottom: 2rem;
}


/* -------MEDIA QUERIES---------- */


@media (max-width: 768px) {
    .formcontacto__img {
        display: none;
    }

    .formcontacto {
        padding: 3rem 0;
    }

    .formcontacto__text {
        width: 100%;
        margin: 0;
    }
}


/* ANIMACIONES */
.formcontacto__boton,
.formcontacto__tick {
    display: flex;
    justify-content: center;
    align-items: center;
}

.formcontacto__boton {
    width: 116px;
    height: 51px;
    background: var(--button-color);
    transition: all .3s cubic-bezier(0.67, 0.17, 0.40, 0.83);
}

.formcontacto__boton svg {
    transform: rotate(180deg);
    transition: all .5s;
}

.formcontacto__boton__circle {
    width: 100px;
    height: 55px;
    background: mediumseagreen;
    border-radius: 50%;
    transform: rotate(-180deg);
}

.formcontacto__boton:hover {
    cursor: pointer;
}

.formcontacto__tick {
    color: var(--contrast-light-color);
    font-size: var(--font-size-courseSubtitle);
    transition: all .9s;
}

