.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4.75rem;
    font-size: var(--font-size-header);
}

.menu__header {
    display: flex;
    align-items: center;
}

.menu__header img {
    width: 1.5rem;
}

.menu__title {
    font-weight: var(--font-weight-bold);
    margin-left: 1rem;
}

.menu__nav {
    display: flex;
}

.menu__list {
    display: flex;
}

.menu__list__item {
    margin-right: 2rem;
}

.menu__list__item__contacto {
    list-style: none;
    font-weight: var(--font-weight-bold);
}

.english__language{
    position: relative;
    width: 25px;
}

.english__language:before{
    content:'';
    position: absolute;
    width: 30px;
    height: 15px;
    background: var(--contrast-dark-color);
    border-radius: 15px;
}

.english__language:after{
    content:'';
    position: absolute;
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 15px;
    transition: 0.25s;
    border: 1px solid #333;
    box-sizing: border-box;
}
 
.english__language:checked:after{
    left:15px;
    border: 1px solid var(--button-color);
}

.english__language:checked::before{
    background: var(--button-color);
} 

/* -------MEDIA QUERIES---------- */

@media (max-width: 768px) {
    .menu__list{
        display: none;
    }
}

/* ANIMACIONES */

.menu__list__item a:hover, 
.menu__list__item__contacto:hover{
    color: var(--button-color);
}
